@import "variables";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Vidaloka&display=swap');

// Typography
a:hover, .active a {
  color: $primary !important;
}

// HTML, Body
html,
body {
  height: 100%;
}

// Page Container
#asu-page-container {
  flex: 1 0 auto;
}

// Navbar
.asu-navbar-logo {
    position: relative;
    right: 0.75rem;
    top: 0.15rem;
    font-family: 'Fredericka the Great', cursive;
}

// Footer
footer {
  flex-shrink: 0;
}